@import '../../assets/styles/vars';

#app-footer {
  margin-top: 2rem;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  color: #eee;
  font-size: 0.8rem;

  .main {
    padding: 1rem 0;
    background-color: #333;
  }

  a {
    color: #fff;

    @include hover {
      color: $accentColor;
      text-decoration: none;
    }
  }

  .grid {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    gap: 2rem;

    @include mobile {
      grid-template: 1fr / 1fr;
      gap: 0;
    }
  }

  .links {
    .link {
      display: block;
      padding: 0.5rem 0;
    }
  }

  .odd {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    .odd-icon {
      height: 3rem;
    }
  }

  .flex {
    display: flex;
    height: 2.2rem;
    justify-content: space-between;

    div {
      display: flex;
      height: 100%;
    }

    img {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  .copyright {
    background-color: black;
    padding: 1rem 0;

    .centered {
      text-align: center;
    }
  }
}
