@import "./vars";
@import "./typo";
@import "./simulator";

html {
  font-size: 22px;

  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }

  @include mobile {
    font-size: 20px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: .2rem;
  padding: .5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
}
