.error-pane {
  text-align: center;

  img,
  .anim {
    display: inline-block;
    width: 14rem;
    max-width: 100%;
  }

  .title {
    font-weight: bold;
    color: #ff0000;
    margin: 0rem 0 0.5rem;
  }

  .details {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }
}
