header {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	height: 68px;
	background: $bgColor;
	display: flex;
	justify-content: space-between;
	box-shadow: $shadow;
	border-bottom: solid 2px black;

	.logo {
		display: block;
		height: 100%;
		padding: 12px;
		margin: 0;

		img {
			display: block;
			height: 100%;
		}
	}

	nav {
		height: 100%;

		.link {
			height: 100%;
			display: block;
			padding: 20px;
			margin: 0;

			img {
				display: block;
				height: 100%;
			}
		}
	}
}
