#dashboard {
  display: flex;
  flex-direction: column;
  //background-color: green;
  height: 100vh;

  header {
    padding: 2rem 2rem 0 2rem;
    box-sizing: border-box;

    h1 {
      margin: 0;
    }

    code {
      overflow-x: scroll;
    }

    .legendary {
      display: flex;
      overflow: scroll hidden;
      padding: 1rem 0;

      .item {
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        &:not(:first-child) {
          margin-left: 1rem;
        }

        .color {
          height: 1rem;
          width: 1rem;
          margin-right: .2rem;
          border-radius: .4rem;
        }

        .name {
          white-space: nowrap;
        }
      }
    }
  }

  .users {
    //background: red;
    flex: 1 1 auto;

    .list {
      display: flex;
      flex-wrap: nowrap;
      height: 100%;
      width: 100%;
      overflow: scroll hidden;
      padding: 1rem 2rem;
      box-sizing: border-box;

      .user,
      .space {
        flex: 0 0 auto;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        align-items: flex-end;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        .username {
          font-size: 1.2rem;
          width: 1.2rem;
          line-height: 100%;
          white-space: nowrap;
          transform-origin: bottom left;
          transform: rotate(-90deg) translate(0, 100%);
          margin-right: 0.5rem;
        }

        .graph {
          height: 100%;
        }
      }

      .space {
        opacity: 0;
        user-select: none;
        pointer-events: none;
        width: 1rem;
      }
    }
  }
}

.dashboard-portal {
  height: 100vh;
  box-sizing: border-box;

  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  .portal {
    max-width: 24rem;
    margin: auto;

    .title {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    .session-name {

    }
  }
}