#dashboard {
  display: flex;
  flex-direction: column;
  //background-color: green;
  height: 100vh;
  box-sizing: border-box;

  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  header {
    h1 {
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    .link {
      overflow-x: scroll;
      font-size: 0.8rem;

      code {
        background-color: #ccc;
        border-radius: 0.2rem;
        padding: 0 0.2rem;
      }
    }
  }

  .users {
    .list {
      min-height: 100%;
      width: 100%;
      overflow: scroll hidden;

      .user,
      .space {
        margin-bottom: 1rem;

        .username {
          font-size: 1.2rem;
          line-height: 100%;
          white-space: nowrap;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.legendary {
  display: flex;
  overflow: scroll hidden;
  padding: 1rem 0;

  .item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    .color {
      height: 0.8rem;
      width: 0.8rem;
      margin-right: 0.2rem;
      border-radius: 0.4rem;
    }

    .name {
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
}

.dashboard-portal {
  height: 100vh;
  box-sizing: border-box;

  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  .portal {
    max-width: 24rem;
    margin: auto;

    .title {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    .session-name {
    }
  }
}
