.graph {
  .segments {
    display: flex;
    //flex-direction: row;
    height: 1.2rem;
    width: 100%;
    //background: black;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: $classicShadow;

    .segment {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}