@import "./vars";
@import "./typo";
@import "./graph.scss";
@import "./simulator";
@import "./dashboard";

html {
  font-size: 22px;
  scroll-behavior: smooth;

  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }

  @include mobile {
    font-size: 20px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  color: black;
  text-decoration: none;
  user-select: none;

  background-color: #ffdd2d;
  box-shadow: -4px 8px 5px rgba(50, 50, 93, 0.25), 0 4px 0 #e5b300;

  //transition: box-shadow .05s linear, transform .05s linear;

  &:hover {
    transform: translateY(-2px);
    box-shadow: -5px 10px 6px rgba(50, 50, 93, 0.25), 0 6px 0 #e5b300;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: -2px 5px 3px rgba(50, 50, 93, 0.25), 0 2px 0 #e5b300;
  }

  &.big {
    font-size: 1.3rem;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

footer {
  .flex {
    display: flex;
    list-style: none;
    height: 2rem;

    img {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;

      &:not(:first-child) {
        margin-left: 1rem;
      }

    }
  }
}
