@import "./vars";
@import "./typo";
@import "./graph.scss";
@import "./simulator";
@import "./dashboard";

html {
  font-size: 22px;
  scroll-behavior: smooth;

  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }

  @include mobile {
    font-size: 20px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

hr {
  border: none;
  border-bottom: solid 1px grey;
}

.mne-logo {
  display: block;
  height: 2rem;
}

#intro {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  .flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    & > *:nth-child(2) {
      max-width: 26rem;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .anim {
      flex: 0 0 auto;
      width: 40%;
      margin-top: -4rem;
      padding: 1rem;
      box-sizing: border-box;

      @include mobile {
        margin-top: 0;
        width: 100%;
      }
    }
  }
}

.nothing {
  text-align: center;
  max-width: 30rem;
  padding: 2rem;
  margin: auto;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;
  font-weight: bold;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #000;
  }

  &::before {
    margin-right: 0.25em;
  }

  &::after {
    margin-left: 0.25em;
  }
}

.form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  margin: 1rem 0;

  @include mobile {
    grid-template-columns: 1fr;
  }

  input {
    font-size: 0.8rem;
    //font-size: 1rem;
    padding: 0.5rem;
    border: solid 1px grey;
    border-radius: 0.2rem;
  }
}

.error {
  text-align: center;

  img,
  .anim {
    display: inline-block;
    width: 14rem;
    max-width: 100%;
  }

  .text {
    font-weight: bold;
    color: #ef5a28;
    margin: 1rem 0 0.5rem;
  }

  .details {
    font-size: 0.6rem;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  svg {
    width: 3rem;
    animation: 1.5s spin ease infinite;
    display: block;
    margin-bottom: 0.5rem;

    .ring {
      fill: none;
      stroke: hsla(341, 97%, 59%, 0.3);
      stroke-width: 2;
    }

    .ball {
      fill: #fc2f70;
      stroke: none;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

a {
  color: #00af25;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.btn,
a.btn {
  display: inline-block;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  color: white;
  text-decoration: none;
  user-select: none;

  background-color: hsl(133, 100%, 34%);
  box-shadow: -4px 8px 5px rgba(50, 50, 93, 0.25), 0 4px 0 #006611;

  &:hover {
    transform: translateY(-2px);
    box-shadow: -5px 10px 6px rgba(50, 50, 93, 0.25), 0 6px 0 #006611;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: -2px 5px 3px rgba(50, 50, 93, 0.25), 0 2px 0 #006611;
  }

  &:disabled {
    filter: brightness(0.7);
  }

  &.big {
    font-size: 1.3rem;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

#app-footer {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  .flex {
    display: flex;
    height: 2rem;
    justify-content: space-between;

    div {
      display: flex;
      height: 100%;
    }

    img {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
