.simulator {
  section {
    .wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 2rem;

      @include mobile {
        padding: 1rem;
      }

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include mobile {
          flex-direction: column !important;
          align-items: flex-start;
        }

        * {
          flex: 1 1 auto;
        }

        .anim {
          flex: 0 0 auto;
          width: 40%;
          padding: 1rem;
          box-sizing: border-box;

          @include mobile {
            width: 100%;
          }
        }
      }

      .counters {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;

        @include mobile {
          //display: block;
          grid-template-columns: 1fr;
        }
      }

      .main {
      }

      footer {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
        background: white;
        padding: 1rem;
        border-radius: 0.5rem;

        h3 {
          margin: 0;
          margin-bottom: 1rem;
        }
      }
    }

    &:nth-child(even) {
      background-color: rgb(235, 235, 235);

      header {
        flex-direction: row-reverse;
      }
    }
  }

  .simulator-result {
    background-color: red;
  }
}

.session-portal {
  height: 100vh;
  box-sizing: border-box;

  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  .portal {
    max-width: 24rem;
    margin: auto;

    .session-title {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    .text {
      margin-bottom: 1rem;
    }
  }
}

@import "./counter";
