.simulator {
  section {
    .wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 4rem 2rem;
      padding-top: 0;

      @include mobile {
        padding: 1rem;
      }

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include mobile {
          flex-direction: column !important;
          align-items: flex-start;
        }

        * {
          flex: 1 1 auto;
        }

        .anim {
          flex: 0 0 auto;
          width: 40%;
          padding: 1rem;
          box-sizing: border-box;

          @include mobile {
            width: 100%;
          }
        }
      }

      .counters {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;

        @include mobile {
          //display: block;
          grid-template-columns: 1fr;
        }
      }

      footer {
        //box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
        background: white;
        margin-top: 2rem;
        padding: 1rem;
        border: dotted 2px black;
        border-radius: 0.5rem;

        h3 {
          margin: 0;
          margin-bottom: 1rem;
        }
      }
    }

    &:nth-child(4n - 1) {
      background-color: #f5f2e5;

      header {
        flex-direction: row-reverse;
      }
    }
  }

  .sum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .value {
      display: flex;
      align-items: center;

      .icon {
        height: 1.5rem;
        margin-right: 0.5rem;
      }

      .result span {
        font-weight: bold;
      }
    }
  }

  .simulator-result {
    .wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 2rem;

      @include mobile {
        padding: 1rem;
      }
    }
  }
}

.wave {
  display: block;
  color: #f5f2e5;

  .wave-path {
    animation: waveDividerAnimation 10s linear infinite alternate;
  }

  &:nth-child(4n) {
    background-color: #f5f2e5;
    color: white;
  }
}

.session-portal {
  height: 100vh;
  box-sizing: border-box;

  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  .portal {
    max-width: 24rem;
    margin: auto;

    .session-title {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    .text {
      margin-bottom: 1rem;
    }
  }
}

@keyframes waveDividerAnimation {
  0% {
    d: path(
      "M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z"
    );
  }
  50% {
    d: path(
      "M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z"
    );
  }
  100% {
    d: path(
      "M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z"
    );
  }
}

@import "./counter";
