@import "../../assets/styles/vars";

#result {
  .similes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
