@import '../../assets/styles/vars';

.sum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .value {
    display: flex;
    align-items: center;

    .icon {
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    .vs {
      font-size: 0.8rem;

      margin-left: 0.5rem;
      background-color: black;
      border-radius: 0.2rem;
      color: white;
      padding: 0.1rem 0.2rem;
    }
  }
}
