.legendary {
  display: flex;
  overflow: scroll hidden;
  padding: 1rem 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    .color {
      height: 0.8rem;
      width: 0.8rem;
      margin-right: 0.2rem;
      border-radius: 0.4rem;
    }

    .name {
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
}
