@import '../../assets/styles/vars';

.section {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column !important;
      align-items: flex-start;
    }

    * {
      flex: 1 1 auto;
    }

    .anim {
      flex: 0 0 auto;
      width: 40%;
      padding: 1rem;
      box-sizing: border-box;

      @include mobile {
        width: 100%;
      }
    }
  }

  .counters {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;

    @include mobile {
      //display: block;
      grid-template-columns: 1fr;
    }
  }

  footer {
    //box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
    background: white;
    margin-top: 2rem;
    padding: 1rem;
    border: dotted 2px black;
    border-radius: 0.5rem;

    .top {
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  &:nth-child(4n - 1) {
    background-color: #f5f2e5;

    header {
      flex-direction: row-reverse;
    }
  }
}
