@import "./vars";

.btn,
a.btn {
  display: inline-block;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem .8rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  color: white;
  text-decoration: none;
  user-select: none;

  background-color: $accentColor;
  box-shadow: -4px 8px 5px rgba(50, 50, 93, 0.25), 0 4px 0 $darkAccentColor;

  &:hover {
    transform: translateY(-2px);
    box-shadow: -5px 10px 6px rgba(50, 50, 93, 0.25), 0 6px 0 $darkAccentColor;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: -2px 5px 3px rgba(50, 50, 93, 0.25), 0 2px 0 $darkAccentColor;
  }

  &:disabled {
    filter: brightness(0.7);

    &:hover, &:active {
      transform: unset;
      box-shadow: -4px 8px 5px rgba(50, 50, 93, 0.25), 0 4px 0 $darkAccentColor;
    }
  }

  &.big {
    font-size: 1.3rem;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
