@import "../assets/styles/vars.scss";

#home {
  .flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    & > *:nth-child(2) {
      max-width: 26rem;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .anim {
      flex: 0 0 auto;
      width: 45%;
      //margin-top: -4rem;
      padding: 1rem;
      box-sizing: border-box;

      @include mobile {
        margin-top: 0;
        width: 100%;
      }
    }
  }
}
