@import './vars';
@import './typo';

* {
  box-sizing: border-box;
}

html {
  font-size: 22px;
  scroll-behavior: smooth;

  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }

  @include mobile {
    font-size: 20px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem 2rem;

  @include mobile {
    padding: 1rem;
  }
}

hr {
  border: none;
  border-bottom: solid 1px grey;
}

img {
  pointer-events: none;
}

@import './btn';